html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* scrollbar */
*::-webkit-scrollbar-track {
    background-color: #ccc;
}
*::-webkit-scrollbar {
    width: 6px;
    background-color: #ccc;
}
*::-webkit-scrollbar-thumb {
    background-color: #575757;
}

#root {
    height: 100%;
}
.App {
    height: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
    -webkit-box-shadow: none !important;
}
.theme-light input:-webkit-autofill,
.theme-light input:-webkit-autofill:focus  {
    color: #FFF !important;
}
.theme-dark input:-webkit-autofill,
.theme-dark input:-webkit-autofill:focus  {
    color: #000 !important;
}